<!DOCTYPE html>
<html>
<head>
  <title>Transmilenio | Crear Conductor</title>
  <meta charset="utf-8">
  <meta name="application-name" content="myApp">
  <meta name="author" content="Juan Camilo Chafloque y Sergio Posada">
</head>
  <body>

    <div class="title">
      <h2>Crear Conductor</h2>
    </div>

    <div class="form">
      <p>Nombre</p>
      <input type="text" class="field" [(ngModel)]="conductor.name">
      <p>Cedula</p>
      <input type="text" class="field" [(ngModel)]="conductor.cedula">
      <p>Telefono</p>
      <input type="text" class="field" [(ngModel)]="conductor.telefono">
      <p>Dirección</p>
      <input type="text" class="field" [(ngModel)]="conductor.direccion">
    </div>

    <div class="btn-box">
      <button (click)=create() [disabled]="!canSubmit">Confirmar</button>
      <button (click)=cancel()>Cancelar</button><br>
    </div>

    <div class="msg-box">
      {{message}}
    </div>

  </body>
</html>
