<div *ngIf= "rol == 'ADMIN' || rol == 'PASAJERO' && user != undefined" class="container">

  <div class="title">
    <h2>Rutas</h2>
  </div>

  <div class="tbl-box">
    <table class="content-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ruta of rutas">
          <td>
            <a [routerLink]="['/informacionRuta/', ruta.id]">{{ruta.id}}</a>
          </td>
          <td>{{ruta.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="btn-box">
    <button (click)="crearRuta()">Crear Ruta</button>
    <button [routerLink]="['/paginaPrincipalLogin']">Volver a Pagina Principal</button>
  </div>

  <div class="msg-box">
    {{errorMessage}}
  </div>

</div>

