<!DOCTYPE html>
<html>
  <head>
    <title>Transmilenio | Menu Principal</title>
    <meta charset="utf-8">
    <meta name="application-name" content="myApp">
    <meta name="author" content="Juan Camilo Chafloque y Sergio Posada">
  </head>
  <body>

    <div class="menu-box">
      <div class="img-box">
        <img src="https://www.elespectador.com/sites/default/files/efb8a3b94ba75fd70a68adee309074bf.jpeg" alt="Transmilenio">
      </div>

      <div class="btn-box">
        <h1>Pagina Principal</h1>
        <button (click)=menuConductores() type="submit">Menu Conductores</button>
        <button (click)=menuBuses() type="submit">Menu Buses</button>
        <button (click)=menuRutas() type="submit">Menu Rutas</button>
        <button class="logout" (click)=logout() type="submit">Logout</button>

        <div class="msg-box">
          {{message}}
        </div>
      </div>

    </div>
  </body>
</html>

