<div *ngIf="ruta != null">
  <div *ngIf="rol == 'ADMIN' || rol =='PASAJERO' && user != undefined">
    <div class="title">
      <img src="https://static.vecteezy.com/system/resources/previews/000/350/002/non_2x/route-vector-icon.jpg" alt="Ruta Logo...">
      <h2>Ruta: {{ruta.id}}</h2>
    </div>

    <div class="info-box">
      <div class="info">
        <label class="tag">Id</label><br>
        <label>{{ruta.id}}</label><br>
      </div>
      <div class="info">
        <label class="tag">Nombre</label><br>
        <label class="tag-info">{{ruta.name}}</label><br>
      </div>
      <div class="info">
        <label class="tag">Estaciones de la Ruta</label><br>
        <ul>
          <li *ngFor="let estacion of estaciones">{{estacion.nombre}}</li>
        </ul>
      </div>
      <div class="info">
        <label class="tag">Buses Asignados</label><br>
        <label class="tag-info">{{countBuses}}</label><br>
      </div>
      <div class="info">
        <label class="tag">Horarios Asignados</label><br>
        <ul>
          <li *ngFor="let asig of buses">{{asig.diaAsignacion}} / {{asig.horaInicio}} - {{asig.horaFin}}</li>
        </ul>
      </div>
    </div>

    <div class="btn-box">
      <button (click)="editarRuta(ruta.id)">Editar</button>
      <button (click)=eliminarRuta(ruta.id)>Eliminar</button>
      <button (click)=volverLista()>Volver</button>
    </div>

    <div class="msg-box">
      {{errorMessage}}
    </div>
  </div>
</div>

