<div *ngIf="ruta != null">
  <div class="title">
    <img src="https://static.vecteezy.com/system/resources/previews/000/350/002/non_2x/route-vector-icon.jpg" alt="Ruta Logo...">
    <h2>Ruta: {{ruta.id}}</h2>
  </div>

  <div class="info-box">
    <div class="info">
      <label class="tag">Id</label><br>
      <label>{{ruta.id}}</label><br>
    </div>
    <div class="info">
      <label class="tag">Nombre</label><br>
      <label class="tag-info">{{ruta.name}}</label><br>
    </div>
    <div class="info">
      <label class="tag">Estaciones de la Ruta</label><br>
      <ul>
        <li *ngFor="let estacion of estaciones">{{estacion.nombre}}</li>
      </ul>
    </div>
  </div>

  <div class="btn-box">
    <button [routerLink]="['/editarRuta/', ruta.id]">Editar</button>
    <button [routerLink]="['/paginaPrincipalRutas']" (click)=eliminarRuta(ruta.id)>Eliminar</button>
    <button (click)=volverLista()>Volver</button>
  </div>

</div>

