<div *ngIf="rol == 'COORDINADOR' && user != undefined" class="container">
  <div class="title">
    <h2>Buses</h2>
  </div>
  <div class="tbl-box">
    <table class="content-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Modelo</th>
          <th>Placa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bus of buses">
          <td>
            <a [routerLink]="['/informacionBus/', bus.id]">{{bus.id}}</a>
          </td>
          <td>{{bus.modelo}}</td>
          <td>{{bus.placa}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="btn-box">
    <button [routerLink]="['/crearBus']">Crear Bus</button>
    <button [routerLink]="['/paginaPrincipalLogin']">Volver a Pagina Principal</button>
  </div>
  {{errorMessage}}
</div>
