<div *ngIf="rol == 'COORDINADOR' && user != undefined" class="container">
  <div class="title">
    <h2>Conductores</h2>
  </div>
  <div class="tbl-box">
    <table class="content-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Cedula</th>
          <th>Telefono</th>
          <th>Dirección</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let conductor of conductores">
          <td>
            <a [routerLink]="['/informacionConductor/', conductor.id]">{{conductor.id}}</a>
          </td>
          <td>{{conductor.name}}</td>
          <td>{{conductor.cedula}}</td>
          <td>{{conductor.telefono}}</td>
          <td>{{conductor.direccion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="btn-box">
    <button [routerLink]="['/crearConductor']">Crear Conductor</button>
    <button [routerLink]="['/paginaPrincipalLogin']">Volver a Pagina Principal</button>
  </div>
  {{errorMessage}}
</div>
