<div *ngIf="conductor != null && rol == 'COORDINADOR' && user != undefined">

  <div class="title">
    <h2>Editar Conductor</h2>
  </div>

  <div class="form">
    <p>Nombre</p>
    <input type="text" class="field" [(ngModel)]="conductor.name">
    <p>Cedula</p>
    <input type="text" class="field" [(ngModel)]="conductor.cedula">
    <p>Telefono</p>
    <input type="text" class="field" [(ngModel)]="conductor.telefono">
    <p>Dirección</p>
    <input type="text" class="field" [(ngModel)]="conductor.direccion">
  </div>

  <div class="btn-box">
    <button (click)=edit()>Guardar</button>
    <button (click)=cancel()>Cancelar</button><br>
  </div>

</div>

